---
layout: ""
page_title: "ByteSet Provider"
description: The ByteSet provider for Terraform is a plugin that seed your database for Development/Testing.
---

# ByteSet Provider

The ByteSet provider for Terraform is a plugin that seed your database for Development/Testing.

## Why this tool?

- Seed your development database with real data.
- Warm up your testing dataset.

### Features

- [x] Seed from a SQL DML/DDL file dumped by the same kind of database.
- [ ] Seed from the same kind of database.
- [ ] Seed from different kinds of database.
- [ ] Replace sensitive value with fake data.

## Example Usage

### SQLite

{{tffile "examples/sqlite/main.tf"}}

### AWS RDS

{{tffile "examples/aws-rds/main.tf"}}

### AliCloud RDS

{{tffile "examples/alicloud-rds/main.tf"}}

{{ .SchemaMarkdown | trimspace }}
